# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml

# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Spring Boot
*.log

# Node / Vite
node_modules/
dist/
build/
.env
.env.*
!.env.example

# Test / coverage
coverage/
requirements.txt
